# Python Ladder Challenge - Notebook 2

# Climb the Ladder!
Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section IV: Conditionals and Loops

34) Print out the numbers 1 through 10.

In [ ]:
for i in range(1,11):
    print(i)

35) Print out the odd numbers between 1 and 20 by using the third paramter to the `range()` function.

In [ ]:
for i in range(1,20,2):
    print(i)

36) Print out the odd numbers between 1 and 20 by checking if the number is even before printing.

In [ ]:
for i in range(1,20,2):
    print(i)

37) What is the sum of the first 100 integers? Hint: Create a variable `total` equal to zero, and increment `total` inside a loop.

In [ ]:
sum = 0 
for i in range(0,101): 
    sum += i 
print(sum)

38) For each friend in your `friends` list, print `"PERSON IS AWESOME!"` in all caps, where `PERSON` is of course replaced with your friend's name.

In [ ]:
friends = ["Alice", "Bob", "Charlie", "Debbie"]

In [ ]:
for name in friends:
    print(name.upper() + " IS AWESOME!")

39) Similar to the last problem, print `"PERSON IS AWESOME!"` for each friend in your friends list _only if their name ends in a vowel_. Otherwise, print `"person is ok..."` (all lowercase).

In [48]:
for name in friends:
    if name[-1] in ['a', 'e', 'i', 'o', 'u']:
        print (name.upper() + " IS AWESOME!")
    else:
        print(name + " is ok...")

ALICE IS AWESOME!
Bob is ok...
CHARLIE IS AWESOME!
Derek is ok...

40) For each number between 1 and 30, if a number is divisible by 3, print `"Fizz"`. Otherwise, just print the number.

In [ ]:
for i in range(1, 31):
    if i % 3 == 0:
        print ( str(i) + ' is multiple of 3')

In [ ]:
x = 1
a = []
while (x <= 30):
         a.append(x)
         x = x + 1
for i in a:
    if (i % 3 == 0):
        print("Fizz")
    else:
        print(i)

41) For each number between 1 and 30, if a number is divisible by 5, print `"Buzz"`. Otherwise, just print the number.

In [ ]:
x = 1
a = []
while (x <= 30):
         a.append(x)
         x = x + 1
for i in a:
    if (i % 5 == 0):
        print("Buzz")
    else:
        print(i)

42) **FIZZBUZZ!** For each number between 1 and 30,
* if a number is divisible by 3, print `"Fizz"`
* if a number is divisible by 5, print `"Buzz"`
* if a number is divisible by both 3 and 5, instead print `"Fizzbuzz"`,
* otherwise, just print the number

This problem is the famous "Fizzbuzz" problem - and is a very common interview coding challenge! If you can do this without help, you're making awesome progress! Well done!

In [ ]:
x = 1
a = []
while (x <= 30):
         a.append(x)
         x = x + 1
for i in a:
    if (i % 5 == 0 and i % 3 == 0):
        print ("FizzBuzz")
    elif (i % 5 == 0):
        print("Buzz")
    elif (i % 3 == 0):
        print("Fizz")
    else:
        print(i)

In [ ]:
for i in range(31):print('Fizz'* (i % 3 == 0) + "Bizz" * (i % 5 == 0) or i )

43) Define some string `sentence`. If you can't think of a good one, feel free to use `fact` from the previous notebook.

In [ ]:
a_string = "Happy New Year"

44) Count the number of vowels in `sentence` (no, y is not a vowel).
* _Hint:_ What happens if you loop through a string?

In [ ]:
lowercase = a_string.lower()

vowel_counts = {}

for vowel in "aeiou":
    count = lowercase.count(vowel)
    vowel_counts[vowel] = count

print(vowel_counts)

In [ ]:
counts = vowel_counts.values()
total_vowels = sum(counts)
print(total_vowels)

45) Define a variable `sentence_rm` that is equal to `sentence` with all vowels removed. 
* _Hint:_ This is a tough one. Start out with an empty string and concatenate all of the consonants to it inside a loop.

In [22]:
a_string = "Happy New Year"

sentence_rm = ""

for i in a_string:
    if i not in "aeiou":
        sentence_rm = sentence_rm + i

print(sentence_rm)

Hppy Nw Yr

46) Create a variable `fav_number` equal to whatever is your favorite integer. Write a loop to determine if `fav_number` is prime. Recall that a prime number is any number whose only divisors are 1 and itself. For example, 6 is not prime since it's divisible by 1, 2, 3, and 6. But 7 _is_ prime since it's only divisible by 1 and 7.

In [38]:
fav_num = 7
is_prime = True

# prime numbers are greater than 1
if fav_num > 1:
    for i in range(2,fav_num):
        if (fav_num % i) == 0:
            is_prime=False
            print(f"{fav_num} % {i} ={fav_num % i}. is_prime={is_prime}")
            break
        else:
            is_prime=True
            print(f"{fav_num} % {i} ={fav_num % i}. is_prime={is_prime}")
else:
    is_prime=False
                  
if is_prime:
    print(fav_num,"is a prime number")
else:
    print(fav_num,"is not a prime number")

7 % 2 =1. is_prime=True
7 % 3 =1. is_prime=True
7 % 4 =3. is_prime=True
7 % 5 =2. is_prime=True
7 % 6 =1. is_prime=True
7 is a prime number

47) A palindromic number reads the same both ways. For example, 1234321 is a palindrome. Write an `if` statement to test whether or not a number is palindromic.

In [77]:
test_num = "1234321"

if (test_num == test_num[::-1]):
    print(test_num + " is palindromic")
else:
    print(test_num + " is not palindromic")

1234321 is palindromic

48) Find the largest palindrome made from the product of two two-digit numbers.
* _Tip:_ Do not worry about the "efficiency" of your answer! The easiest answer is very inefficient.

In [78]:
def is_palindrome(test_num):
    if (test_num == test_num[::-1]):
        return True
    else:
        return False

palindrome_num=[]
    
for i in range(1,99):
    for j in range(1,99):
        num=i*j
        if(is_palindrome(str(num))):
            palindrome_num.append(num)

print(palindrome_num)
            
print(f"max={max(palindrome_num)}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 2, 4, 6, 8, 22, 44, 66, 88, 3, 6, 9, 33, 66, 99, 111, 141, 171, 222, 252, 282, 4, 8, 44, 88, 212, 232, 252, 272, 292, 5, 55, 6, 66, 222, 252, 282, 414, 444, 474, 7, 77, 161, 252, 343, 434, 525, 595, 616, 686, 8, 88, 232, 272, 424, 464, 616, 656, 696, 9, 99, 171, 252, 333, 414, 585, 666, 747, 828, 11, 22, 33, 44, 55, 66, 77, 88, 99, 121, 242, 363, 484, 616, 737, 858, 979, 1001, 252, 444, 636, 696, 828, 888, 494, 585, 676, 767, 858, 949, 1001, 252, 434, 616, 686, 868, 525, 555, 585, 272, 464, 656, 848, 272, 323, 595, 646, 969, 252, 414, 666, 828, 171, 323, 494, 646, 969, 252, 525, 777, 22, 44, 66, 88, 242, 484, 616, 858, 2002, 2112, 161, 414, 575, 828, 989, 1771, 696, 888, 2112, 525, 575, 494, 676, 858, 2002, 999, 252, 616, 868, 232, 464, 696, 2552, 434, 868, 2112, 33, 66, 99, 363, 858, 1221, 1551, 1881, 2112, 2442, 2772, 3003, 272, 646, 2992, 525, 595, 252, 828, 2772, 111, 222, 333, 444, 555, 666, 777, 888, 999, 1221, 2442, 494, 646, 585, 858, 3003, 656, 252, 2772, 989, 44, 88, 484, 616, 2112, 2332, 2552, 2772, 2992, 4004, 4224, 585, 414, 828, 141, 282, 1551, 2112, 4224, 343, 686, 3773, 969, 676, 4004, 212, 424, 636, 848, 2332, 4664, 55, 5005, 5115, 5225, 5335, 616, 171, 969, 1881, 232, 464, 696, 2552, 767, 434, 868, 4774, 252, 2772, 2112, 4224, 585, 5005, 66, 858, 2112, 2442, 2772, 4224, 4554, 4884, 6006, 6336, 737, 272, 2992, 414, 828, 4554, 6336, 292, 949, 222, 444, 666, 888, 2442, 4884, 525, 5775, 77, 616, 1001, 1771, 2002, 2772, 3003, 3773, 4004, 4774, 5005, 5775, 6006, 6776, 7007, 858, 6006, 474, 656, 747, 252, 2772, 595, 696, 88, 616, 2112, 2552, 2992, 4224, 4664, 6336, 6776, 8008, 8448, 979, 1001, 2002, 3003, 4004, 5005, 6006, 7007, 8008, 828, 5115, 282, 5225, 2112, 4224, 6336, 8448, 5335, 686]
max=8448

# Section V: List Comprehensions

**Disclaimer:** Many (maybe all) of these exercises can be done without a list comprehension. However, listcomps are often the easiest way to solve a problem like this. Listcomps are also optimized in Python, meaning they are also often the _fastest_ way to solve a problem. In fact, **every problem in this section can be solved in one line of code!**

49) Create a list of the numbers 1 through 10.

In [82]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

50) Create a list of the squares of the numbers between 1 and 10.

In [81]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

51) Create a list of all the even numbers between 18 and 47.

In [80]:
[i for i in range(18,46,2)]

[18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44]

52) Create a list of the squares of the even numbers between 1 and 20.

In [79]:
[i**2 for i in range(0,21,2)]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

53) What is the sum of the cubes of the numbers between 7 and 37?

In [90]:
[i**3 for i in range(7,38)]

[343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653]

In [93]:
sum=0
for i in range(7,37):
    sum = sum + i**3
    print(sum)

343
855
1584
2584
3915
5643
7840
10584
13959
18055
22968
28800
35659
43659
52920
63568
75735
89559
105184
122760
142443
164395
188784
215784
245575
278343
314280
353584
396459
443115

54) Create a list of all of the numbers divisible by either 3 or 5 (or both) between 1 and 30.

In [96]:
[a.append(i) if i%3==0 or i%5==0 for i in range(1, 31)]

SyntaxError: invalid syntax (<ipython-input-96-407057fa4ece>, line 1)

In [94]:
a=[]
for i in range(1, 31):
    if((i%3==0) or (i%5==0)):
        a.append(i)
print(a)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30]

55) Redefine this list to be all uppercase.

In [39]:
friends = ["Alice", "Bob", "Charlie", "Derek"]

In [46]:
str(friends).upper()

"['ALICE', 'BOB', 'CHARLIE', 'DEREK']"

In [63]:
[friend.upper() for friend in friends]

['ALICE', 'BOB', 'CHARLIE', 'DEREK']

56) Remove all elements from `friends` whose names do not end in a vowel.

In [64]:
[friend for friend in friends if friend.lower()[-1] not in 'aeiou']

['Bob', 'Derek']

57) Take the `sentence` you used earlier and remove the vowels again. This time, using a one-line list comprehension.

* _Hint:_ You'll find the `.join()` method to be useful here.

In [115]:
" ".join([friend for friend in friends if friend.lower()[-1] not in 'aeiou'])

'Bob Derek'

58) You need to access Excel files that have names like `Jan 5.xlsx` or `Mar 15.xlsx`. Create a list of January 1 through January 31 like this. That is, create the list of: `["Jan 1.xlsx", "Jan 2.xlsx", ... , "Jan 31.xlsx"]`.

In [117]:
a=[]
for i in range (1,32):
    a.append("Jan "+str(i)+".xlsx")
print(a)

['Jan 1.xlsx', 'Jan 2.xlsx', 'Jan 3.xlsx', 'Jan 4.xlsx', 'Jan 5.xlsx', 'Jan 6.xlsx', 'Jan 7.xlsx', 'Jan 8.xlsx', 'Jan 9.xlsx', 'Jan 10.xlsx', 'Jan 11.xlsx', 'Jan 12.xlsx', 'Jan 13.xlsx', 'Jan 14.xlsx', 'Jan 15.xlsx', 'Jan 16.xlsx', 'Jan 17.xlsx', 'Jan 18.xlsx', 'Jan 19.xlsx', 'Jan 20.xlsx', 'Jan 21.xlsx', 'Jan 22.xlsx', 'Jan 23.xlsx', 'Jan 24.xlsx', 'Jan 25.xlsx', 'Jan 26.xlsx', 'Jan 27.xlsx', 'Jan 28.xlsx', 'Jan 29.xlsx', 'Jan 30.xlsx', 'Jan 31.xlsx']

59) Below is a list of amounts in euros. Create a new list, `dollars`, which is these amounts converted to U.S. dollars. There are 1.1 dollars per euro.

In [97]:
euros = [4.50, 6.70, 3.25, 9.99, 12.75, 0.35]

In [100]:
dollars = [i*1.1 for i in euros]
dollars

[4.95, 7.370000000000001, 3.575, 10.989, 14.025, 0.385]

60) Below is a list of heights in inches. In order to ride a roller coaster, you must be at least 5 feet tall (60 inches). Filter this list to be _only_ those heights tall enough to ride.

In [51]:
heights = [71, 48, 55, 65, 68, 60, 58, 53]

In [107]:
[i for i in heights if i>=60]

[71, 65, 68, 60]

61) Repeat the above exercise, except replace the lower heights with a `None` instead of dropping them.
* _Hint:_ Python has an in-line `if` statement, sometimes called a _ternary operator_ that you might find useful here. For example:

```
print("Tall enough" if 72 > 60 else "Too short")
print("Tall enough" if 52 > 60 else "Too short")
```

In [109]:
[ i if i>=60 else "None" for i in heights]

[71, 'None', 'None', 65, 68, 60, 'None', 'None']

In [110]:
[ "Tall enough" if i>=60 else "Too short" for i in heights]

['Tall enough',
 'Too short',
 'Too short',
 'Tall enough',
 'Tall enough',
 'Tall enough',
 'Too short',
 'Too short']

62) Here are more heights below. However, this time, the information is contained in a dictionary. Create a list of the names _and ONLY the names_ of the people who are tall enough to ride the roller coaster.

* _Hint:_ How can you loop through a dictionary?

In [122]:
people = {
    "Aaron": 58,
    "Barbara": 66,
    "Clarence": 62,
    "Donovan": 55,
    "Erika": 70,
    "Fernando": 72
}

In [68]:
print(people.values())

dict_values([58, 66, 62, 55, 70, 72])

In [111]:
print(people.keys())

dict_keys(['Aaron', 'Barbara', 'Clarence', 'Donovan', 'Erika', 'Fernando'])

In [126]:
a=[]
for x in people:
    if(people[x]>60):
        a.append(x)
print(a)

['Barbara', 'Clarence', 'Erika', 'Fernando']

63) Below we have some more data on our classmates. This time, the dictionary values are test scores. A student's final grade is their _maximum_ score on these three tests. Create a list of the students' final grades.

In [71]:
people = {
    "Aaron": [87, 52, 78],
    "Barbara": [92, 79, 85],
    "Clarence": [42, 68, 55],
    "Donovan": [95, 100, 87],
    "Erika": [62, 88, 47],
    "Fernando": [84, 99, 0]
}

In [73]:
[ max(v) for v in people.values()]

[87, 92, 68, 100, 88, 99]

64) Repeat the above problem, except create a _dictionary_ of the final scores, where the dictionary keys are the names, and the dictionary values are the final grade.

* _Hint:_ You can do **dictionary comprehension** to solve this problem! Yes, it exists!

In [112]:
for k,v in people.items():
    print(k,max(v))

Aaron 87
Barbara 92
Clarence 68
Donovan 100
Erika 88
Fernando 99

65) Using the two lists defined below, create the following resulting list:

`["AZ", "BY", "CX", "DW", "EV"]`

* _Hint:_ Check out the `zip()` function.

In [ ]:
letters_a = ["A", "B", "C", "D", "E"]
letters_z = ["Z", "Y", "X", "W", "V"]

In [32]:
letters_a = ["A", "B", "C", "D", "E"]
letters_z = ["Z", "Y", "X", "W", "V"]
list(zip(letters_a,letters_z))
list("".join(i) for i in list(zip(letters_a,letters_z)))

['AZ', 'BY', 'CX', 'DW', 'EV']

In [33]:
letters_a = ["A", "B", "C", "D", "E"]
letters_z = ["Z", "Y", "X", "W", "V"]
[letter1+letter2 for letter1, letter2 in zip(letters_a,letters_z)]

['AZ', 'BY', 'CX', 'DW', 'EV']

66) Using `letters_a` defined in the previous problem, create the following list:

```
[
    "A is letter 1 of the alphabet",
    "B is letter 2 of the alphabet",
    ...
]
```

* _Hint:_ Checkout the `enumerate()` function.

In [128]:
letters_a = ["A", "B", "C", "D", "E"]

new_list=[]

for count, item in enumerate(letters_a):
    new_list.append(item+" is "+ str(count+1) + " letter of the alphabet")

new_list

['A is 1 letter of the alphabet',
 'B is 2 letter of the alphabet',
 'C is 3 letter of the alphabet',
 'D is 4 letter of the alphabet',
 'E is 5 letter of the alphabet']

# Section VI: Libraries, imports and some more math!

67) Import the `math` library

In [129]:
import math

68) The `math` library has a lot of cool stuff in it. For this problem, evaluate the following math expressions:

a) $\sin{\frac{\pi}{2}}$

In [132]:
math.sin(math.pi/2)

1.0

b) $\ln{\sqrt{e}}$
* _Hint:_ A logarithm with base $e$ is represented by just `log` in `math`. In fact, throughout the course, $\log$ with no subscript will always denote the natural log (ie, log base $e$).

In [143]:
math.log(2.7183)

1.0000066849139877

c) $e^{3!}$

In [138]:
math.exp(3)

20.085536923187668

69) Two popular math functions are the "round up" and "round down" functions. In computer science, we call them the "ceiling" and "floor" functions. They're used and denoted as follows:

* `ceil(3.8)` $= \lceil 3.8 \rceil = 4$
* `ceil(3.2)` $= \lceil 3.2 \rceil = 4$
* `floor(3.8)` $= \lfloor 3.8 \rfloor = 3$
* `floor(3.2)` $= \lfloor 3.2 \rfloor = 3$

We _only_ need these two functions out of the `math` library. Use an `import` statement to import _only_ thees two functions and verify the above examples are true.

In [144]:
math.ceil(3.8)

4

In [145]:
math.floor(3.2)

3

70) We can also _alias_ library names if they're too long and we will be using them often. As we will do many times in this course, import the following three libraries:

* Import the `numpy` library, aliasing it as `np`
* Import the `pandas` library, aliasing it as `pd`
* Import the `matplotlib.pyplot` library and submodule, aliasing it as `plt`

In [147]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

71) You can also import everything from a library all at once without needing to prefix it:

`from math import *`

For this question your task is: _never, **ever**_ do this.